/*
Error: Invalid CSS after "@import "main"": expected "{", was ";"
        on line 3 of assets/css/styles.scss

1: ---
2: ---
3: @import "main";
4: // Dark theme styles
5: body {
6:   font-family: 'Fira Code', monospace;
7:   margin: 0;
8:   padding: 0;

Backtrace:
assets/css/styles.scss:3
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:688:in `block'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
C:/Users/ryanw/Ruby33-x64/lib/ruby/gems/3.3.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
C:/Users/ryanw/Ruby33-x64/bin/sass:25:in `load'
C:/Users/ryanw/Ruby33-x64/bin/sass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@import \"main\"\": expected \"{\", was \";\"\A         on line 3 of assets/css/styles.scss\A \A 1: ---\A 2: ---\A 3: @import \"main\";\A 4: // Dark theme styles\A 5: body {\A 6:   font-family: 'Fira Code', monospace;\A 7:   margin: 0;\A 8:   padding: 0;"; }
